---
layout: default
title: Home
---

{% if site.data.pages.size %}
  {% for item in site.data.pages %}
  <div class="posts">
    <article class="post index">
      <h1 class="post-title">
        <a href="{{ item.path }}">
          {{ item.title }}
        </a>
      </h1>

      {% if false %}
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
        {{ post.date | date_to_string }}
      </time>
      {% endif %}
    </article>
  </div>
  {% endfor %}
{% else %}
  <p>No posts.</p>
{% endif %}
