// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: $spacer;
  padding-bottom: $spacer;
  margin-bottom: $spacer-3;
}

.masthead-title {
  margin-bottom: 0;
  font-family: $blog-title-font;
  font-size: 1.17em;

  a {
    color: inherit;
    text-decoration: none;
    background: none; // disable link style
    &:before, &:after {
      color: $color-main-accent;
      font-weight: 900;
    }
    &:before {
      content: "( ";
    }
    &:after {
      content: " )";
    }
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}
