// Messages
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  padding: $spacer;
  margin-bottom: $spacer;
  color: $gray-900;
  background-color: $yellow-100;
  border-radius: $border-radius;
}
